*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

body::after{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 1000px;
    margin: 20px auto;
    
}

.contenitore{
    width: calc(100% / 3 - 10px);
    position: relative;
    float: left;
}

.secondo, .quinto{
    margin: 0 10px;
}
.immagine{
    width: 100%;
}

.heart{
    padding: 0.7em;
    line-height: 0.7em;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.scritte-rosso-verdi{
    font-size: 70%;
    color: white;
    position: absolute;
    top: 420px;
    left: 0;
}

.background-rosso{
    background-color: rgb(236, 0, 55);
    padding: .2em;
}

.background-verde{
    background-color: rgb(2, 136, 89);
    padding: .2em 0;
}

.levi, h1{
    font-size: 90%;
}

.levi{
    font-family: 'Roboto', sans-serif;
}

div div{
    margin-top: 0.7em;
}
.red{
     color: red;
}

.barrato{
    text-decoration: line-through;
}

.quarto, .quinto, .sesto{
    margin-top: 2em;
}
