*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::after{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 1000px;
    border: 1px solid black;
    margin: 20px auto;
    
}

.contenitore{
    width: 300px;
    float: left;
    position: relative;
}

.prima-immagine{
    width: 100%;
}

.heart{
    padding: 0.7em;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.rosso-e-verde{
    font-size: 70%;
    color: white;
    position: absolute;
    top: 400px;
    left: 0;
}

.background-rosso{
    background-color: rgb(236, 0, 55);
    padding: .2em;
}

.background-verde{
    background-color: rgb(2, 136, 89);
    padding: .2em 0;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}

div div{
    margin-top: 10px;
}

h1{
    font-size: 90%;
}

.red{
     color: red;
}

.barrato{
    text-decoration: line-through
}